* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#personal,
#professional {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    padding: 10px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    font-size: 15px;
}

textarea {
    padding: 10px;  
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    font-size: 15px;
    height: 100px;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}

#info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}

#address {
    grid-column-start: 1;
    grid-column-end: 3;
}

.p_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box {
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 10px
}

#submit {
    width: 40%;
}

.bold {
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}