* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 65vh;
    gap: 10px;
}

aside {
    background-color: rgb(255, 219, 225);
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    background-color: rgb(124, 255, 255);
    display: flex;
    flex-grow: 7;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav {
    background-color: rgb(84, 212, 255);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
